<#@ template language="C#" #>
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using <#=this.BaseNameSpace#>.Core.Data.Model;
using System.Data.Entity.ModelConfiguration;
using System.ComponentModel.DataAnnotations;

namespace <#=this.BaseNameSpace#>.Core.Data.SqlServer.Configuration
{
    public class <#=this.ClassName#> : EntityTypeConfiguration<<#=this.ModelName#>>
    {
        public <#=this.ClassName#>()
            : base()
        {
        }
    }
}